<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
       
        <div class="footer-col" style="text-align: center;">
          <p>Diclaimer: {{ site.title | escape }} does not host or provide direct access to any copyrighted content. We are an information platform solely sharing news, reviews, and updates about Tamil cinema.</p>
        <span>Last Updated: {{ site.time | date: '%Y-%m-%dT%H:%M:%S' }}</span>
        </div>
      </div>
  
    </div>
  
  </footer>