<p style="text-align: center;border-bottom: #000000 1px solid;padding-bottom: 2%;">
	<span style="background-color:#ffffff; color:#000000; font-size:12px; text-align:center"><strong>TamilMV Official
			Telegram Channel :-<span>&nbsp;</span></strong></span><strong
		style="background-color:#ffffff; color:#000000; font-size:12px; text-align:center"><a
			href="https://t.me/xtamilmvoff" rel="external nofollow noopener" target="_blank"><span
				style="color:#ff0000;">Click Here</span></a></strong><br>
				
					
			</p>