<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div>
          {%- include tamilmv_feed.html -%}
        </div>
      </div>
    </main>
    {%- include footer.html -%}
<script defer src="https://cloud.umami.is/script.js" data-website-id="3d9527cd-4eb0-40f0-9f91-8f9594026c7e"></script>
  </body>

</html>
